@{
    ViewBag.Title = "Pie";
}

@Html.Action("PieChartPartial")

 
<body>
    <canvas id="cvs" width="400" height="300">[No canvas support]</canvas>

    <script>



    $(document).ready(function () {
        //   alert(1);
        var Xvalue = '@ViewBag.xaxis';
        //var ab = da.split(',');
        var Yvalue = '@ViewBag.yaxis';
            //var cd = ya.split(',');
            //debugger;
            //CallChart(id, ab,cd);
            // alert(2);
            @*var color = '@ViewBag.color';*@
        CallChartPie(1, Xvalue, Yvalue);
        })


    </script>

    </body>
