@{
    ViewBag.Title = "Pie";
}

@Html.Action("PieChartPartial")

<body>
    <canvas id="cvs" width="400" height="300">[No canvas support]</canvas>

    <script>



        $(document).ready(function () {
            var Xvalue = '@ViewBag.xaxis';
        
            var Yvalue = '@ViewBag.yaxis';
           
            CallChartPie(1, Xvalue, Yvalue);
        })


    </script>

</body>
