@{
    ViewBag.Title = "MainPageIcons";
}
<link href="~/Content/themes/IconPage.css" rel="stylesheet" />
<body style="background-color:rgba(14,117,154,1.00);>
<div  width:100%;
height:100%;">
    <table style="margin-left:10px; width:100%; padding-top:95px; padding-left:60px">
        <tr>
            <td style="width:50%">
                <table style="width:100%;">
                    <tr>
                        <td class="HomeTiles" style="width:25%">
                            <a href='@Url.Action("InputScreen", "lanHomePageDesign")' target="_parent">

                                <img src="~/Content/Images/LandingPageImages/dashboard.png" />
                            </a>
                            <p><label>Dash Board</label></p>

                        </td>
                        <td class="HomeTiles" style="width:25%">
                            <img src="~/Content/Images/LandingPageImages/graphs.png" />

                            <p><label>Graph</label></p>
                        <td class="HomeTiles" style="width:25%">

                            <img src="~/Content/Images/LandingPageImages/Reports.png" />

                            <p><label>Mile Stones</label></p>
                        </td>
                    </tr>
                    <tr>

                        <td style="height:90px;">
                            &nbsp;
                        </td>

                        <td style="height:90px;">
                            &nbsp;
                        </td>

                        <td style="height:90px;">
                            &nbsp;
                        </td>

                    </tr>
                    <tr>
                        <td class="HomeTiles" style="width:25%">
                            <img src="~/Content/Images/LandingPageImages/MileStones.png" />


                            <p><label>Schedules</label></p>
                        </td>
                        <td class="HomeTiles" style="width:25%">
                            <img src="~/Content/Images/LandingPageImages/approval.png" />

                            <p><label>Documents</label></p>
                        </td>
                        <td class="HomeTiles" style="width:25%">

                            <img src="~/Content/Images/LandingPageImages/dashboard.png" />
                            <p><label>Construction & Completion</label></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:10%;">
                &nbsp;
            </td>
            <td style="width:30%;">
                <table style="width:100%;">
                    <tr>
                        <td class="HomeTiles" style="width:25%">


                            <img src="~/Content/Images/LandingPageImages/graphs.png" />
                            <p><label>Documents</label></p>
                        </td>
                        <td class="HomeTiles" style="width:25%">

                            <img src="~/Content/Images/LandingPageImages/MileStones.png" />
                            <p><label>Approval</label></p>
                        </td>
                    </tr>
                    <tr>

                        <td style="height:90px;">
                            &nbsp;
                        </td>

                        <td style="height:90px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="HomeTiles" style="width:25%">


                            <img src="~/Content/Images/LandingPageImages/Reports.png" />
                            <p><label>Reports</label></p>
                        </td>
                        <td class="HomeTiles" style="width:25%">


                            <img src="~/Content/Images/LandingPageImages/graphs.png" />
                            <p><label>Settings</label></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </div>
</body>

